img.custom-logo {
    width: 100%;
}

.sticky-top {
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-nav .nav-link {
    padding-right: 25px !important;
}

.navbar-nav li a {
    color: #000;
}

.menu-main-menu-container,
.menu-before-login-container {
    margin-left: auto;
}

.site-footer {
    margin-top: 100px;
}

.site-footer .nav-link {
    padding-left: 0;
}

.site-footer .footer-title {
    margin-bottom: 50px;
}

.site-footer a {
    color: rgb(122, 122, 122, 0.72);
}

.site-info {
    border-top: 1px solid #f1f1f1;
    padding-top: 15px;
    margin-top: 50px;
}

.site-info p {
    color: rgb(122, 122, 122, 0.72);
}